Package: com.mute.floatytabrevived
Name: floatytabrevived
Architecture: iphoneos-arm
Description: Customize the UITabBar
Maintainer: Mute
Author: Mute
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Version: 0.0.1-31+debug
Installed-Size: 392
